@using FinalExp.Core.Entities;

@{
    ViewData["Title"] = "Update";
}
@model TeamMember
<h1>Update</h1>

<h1>Create</h1>
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Profession" class="form-label">Profession</label>
        <input asp-for="Profession" class="form-control">
        <span asp-validation-for="Profession" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label">ImageUrl</label>
        <input asp-for="ImageUrl" class="form-control">
        <span asp-validation-for="ImageUrl" style="color:red"></span>

    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>